{% extends 'startadmin/base.html' %}
{% block content %}

 <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Students</h1>
                        <button
                        data-url="{% url 'dashboard:page'  %}?folder=admin&pagename=create_student&form=StudentForm"
                        id="student_create_btn"
                        data-toggle="modal" data-target=".bd-example-modal-lg"
                        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm modal_button" >
                            <i class="fas fa-download fa-sm text-white-50"></i> Create
                        </button>
                    </div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>fullname</th>
                                            <th>Department</th>
                                            <th>Level</th>
                                            <th>Action</th>
                                            <!-- <th>Start date</th> -->
                                            <!-- <th>Salary</th> -->
                                        </tr>
                                    </thead>
                    
                                    <tbody>
                                        {% for obj in objects %}
                                        <tr>
                                            <td>
                                                {{obj.fullname}}
                                            </td>
                                            <td>
                                                {{obj.department}}
                                            </td>
                                            <td>
                                                {{obj.levels}}
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <button
                        data-url="{% url 'dashboard:page'  %}?folder=admin&pagename=add_student_subject&user={{obj.user.id}}"
                        id="add_new_student_subject_btn"
                        data-toggle="modal" data-target=".bd-example-modal-lg"
                        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm modal_button" >
                            <i class="fas fa-download fa-sm text-white-50"></i> Subject
                        </button>
                                                        </td>
                                                        <td>
                                                            <button
                                                            data-url="{% url 'dashboard:page'  %}?folder=admin&pagename=add_student_subject&user={{obj.user.id}}"
                                                            id="take_attendance_btn"
                                                            data-toggle="modal" data-target=".bd-example-modal-lg"
                                                            class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm modal_button" >
                                                                <i class="fas fa-download fa-sm text-white-50"></i> Take Attendance

                                                                {{obj.get_student_attendance}}
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- <td>2011/04/25</td> -->
                                            <!-- <td>$320,800</td> -->
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}
