

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
     
        <div class="row">
           <h3>Create New Subject</h3>

           <div class="col-lg-12"> 

            <form 
                action="{% url 'dashboard:subjects' %}"
                method="POST"    
            >
                {% csrf_token %}
                <div class="form-group">
                    {{form}}
               </div>
               <div class="form-group">
                    <button class="btn btn-sm btn-primary">Add New</button>
               </div>
    
               </form>

           </div>
        </div>
    </div>
     <!-- /.container-fluid -->

{% endblock content %}